body {
	background: url(../images/12_col.gif) center top repeat-y;
	background-size: 90%;
	box-sizing: border-box;
}

.container * {border: 2px solid #333;margin: 0 -5px;}

header {grid-area: header;}
.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
content {grid-area: content;}
aside {grid-area: sidebar;}
.footersection1 {grid-area: footersection1;}
.footersection2 {grid-area: footersection2;}
.footersection3 {grid-area: footersection3;}
.footersection4 {grid-area: footersection4;}

[class*=footersection] {margin: 5px;}

/* Mobile */
.container {
	width: 88%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: minmax(250px, 1fr);
	grid-template-rows: repeat(6, 20%) 80%;
	grid-gap: 2% 2%;
	grid-template-areas: 
	"header"
	"box1"
	"box2"
	"box3"
	"content"
	"sidebar"
	"footer";
}

footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: minmax(250px, 1fr);
	grid-template-rows: repeat(4, minmax(100px, 1fr));
	grid-template-areas: 
	"footersection1"
	"footersection2"
	"footersection3"
	"footersection4";
}

/* Tablets */
@media only screen and (min-width: 767px){
.container {
	grid-gap: 2% 4%;
	grid-template-rows: repeat(3, 1fr) 2fr;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: 
	"header header header header header header"
	"box1 box1 box2 box2 box3 box3"
	"content content content sidebar sidebar sidebar"
	"footer footer footer footer footer footer";
}

footer {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, minmax(180px, 1fr));
	grid-template-areas: 
	"footersection1 footersection2"
	"footersection3 footersection4";
}}

/* Smaller desktop */
@media only screen and (min-width: 960px) and (max-width: 1200px){
.container {
	grid-gap: 2% 3%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, minmax(200px,1fr));
	grid-template-areas: 
	"header header header header header header header header header header header header"
	"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
	"content content content content content content content content sidebar sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer ";
}

footer {
	grid-template-rows: minmax(150px, 200px);
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
	"footersection1 footersection1 footersection1 footersection2 footersection2 footersection2 footersection3 footersection3 footersection3 footersection4 footersection4 footersection4"
}}

/* Big desktop */
@media only screen and (min-width: 1200px){
.container {
	grid-gap: 2% 2%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, minmax(200px,auto));
	grid-template-areas: 
	"header header header header header header header header header header header header"
	"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
	"content content content content content content content content content sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer ";
}

footer {	
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: minmax(250px, 200px);
	grid-template-areas: 
	"footersection1 footersection1 footersection1 footersection2 footersection2 footersection2 footersection3 footersection3 footersection3 footersection4 footersection4 footersection4"
<<<<<<< HEAD
}}
=======
}}
>>>>>>> 181062d0cc5bfe609d9cc4e7d6aacfa5f4405c17
